
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
}
h1 {
    line-height: 1.2;
    font-size: 3em;
}
p {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.max-width {
    margin: 1em;
}
@media screen and (min-width: 680px) {
    .max-width {
        margin: 0 100px 0 170px;
        max-width: 640px;
    }
}
@media screen and (min-width: 980px) {
    .max-width {
        margin: 0 auto;
    }
}
.title {
    text-align: center;
}

.centered {
    text-align: center;
}

.spaced {
    margin: 2em 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.top-lined {
    padding-top: 2em;
    border-top: 1px solid #000;
}
.bottom-lined {
    padding-bottom: 2em;
    border-bottom: 1px solid #000;
}
.intro {
    display: flex;
    flex-direction: column;
}
.leftcol {
    order: 1;
}
@media screen and (min-width: 680px) {
    .leftcol {
        order: inherit;
    }
}
.permalinked {
    color: #222;
    text-decoration: none;
}
.permalinked:hover,
.permalinked:focus {
    text-decoration: underline;
}
.flattr-note {
    vertical-align: top;
}

#left-toc {
  position: sticky;
  top: 0px;

  display: block;
  overflow: hidden;
  margin-left: -160px;
  max-width: 130px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

/*
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}
.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}
.carbon-text {
  display: block;
  margin-bottom: 8px;
}
.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 1;
}

@media only screen and (min-width: 320px) and (max-width: 679px) {
  #carbonads {
    position: relative;
    float: none;
    margin: 0 auto;
    padding: 10px;
    max-width: 330px;
    border: solid 1px #8f8f8f;
    text-align: left;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0 1em 0 0;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    max-width: calc(100% - 130px - 1em);
  }
  .carbon-poweredby {
    position: absolute;
    bottom: 0;
    left: 144px;
    display: block;
  }
}
*/

img {
  image-rendering: pixelated;
}

pre {
  color: #555349;
  background: #f1f1f1;
  padding: 0.1em 0.3em;
}

code {
  border-radius: 3px;
  font-size: 1.0em;
  color: #555349;
  background: #f1f1f1;
}

.asm-block {
  border-radius: 0.5em;
  border: .3em solid hsl(0, 0%, 8%);
  margin: .5em 0;
  padding: 0.4em;
  background: hsl(0, 0%, 8%);

  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8em;

  color: white;
}

.asm-comment {
  color: rgb(87, 161, 87);
}

.asm-pseudo {
  color: #ffa7c4;
}

.asm-num {
  color: #f78c6c;
}

.asm-mnemonic {
  color: rgb(207, 207, 207);
}

.asm-other {
  color: rgb(150, 150, 150);
}

.asm-label {
  color: #82aaff;
}

.asm-ident {
  color: #82aaff;
}

.asm-string {
  color: #addb67;
}